{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<h1 class="mb-3">Change your password</h1>
<form action="/change_password" method="POST">
    <div class="mb-3 mt-5">
        <input type="text" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Username">
    </div>
    <div class="mb-3 mt-3">
        <input type="password" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password">
    </div>
    <div class="mb-3 mt-3">
        <input type="password" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_password" placeholder="New Password">
    </div>
    <div class="mb-3 mt-3">
        <input type="password" autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirm" placeholder="Confirm Password">
    </div>
    <div class="mb-3 mt-4">
        <button class="btn btn-primary" type="submit">Change Password</button>
    </div>
</form>
{% endblock %}
